set timeout=10
set default=0
menuentry "RUNIF OS 1.0" { multiboot /boot/runifkernel.bin; boot }
menuentry "Safe Mode" { multiboot /boot/runifkernel.bin safe; boot }
menuentry "Reboot" { reboot }
menuentry "Shutdown" { halt }
